[Unit]
Description=PV App XML Parser Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/pvapp/services/xml_parser
Environment="PATH=/opt/pvapp/.venv/bin"
ExecStart=/opt/pvapp/.venv/bin/gunicorn -w 2 -b 0.0.0.0:5000 parser_app:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
